body{
    text-align: center;
    color: gold;
    font-size: 40px;
    background-color: rgb(40, 55, 119);
    background-image: url(clash-royale-wallpaper-3554x1999_53.jpg);
}

h1 {
    font-size: 68px;
    color: gold;
    font-style:italic;
}

.background {
    width: 100%;
}

form {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 50px;
}

.input {
    display: block;
}
label{
    display: block;
}



