body{
    background-image: url(STATS.png);
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 li{
   list-style: none;
 }

 h1{
    text-align: center;
    font-size: 120px;
    color:gold;
 }